<footer class="footer">
    <nav class="footer__nav">
        <ul>
            <li>
                <a class="footer__nav--link" href="https://adalab.es/" title="Shoes"> Zapatillas </a>
            </li>
            <li>
                <a class="footer__nav--link" href="https://adalab.es/" title="Clothes"> Ropa </a>
            </li>
            <li>
                <a class="footer__nav--link" href="https://adalab.es/" title="Kids"> Niño/a </a>
            </li>
            <li>
                <a class="footer__nav--link" href="https://adalab.es/" title="Featured"> Destacados </a>
            </li>
            <li>
                <a class="footer__nav--link" href="https://adalab.es/" title="Tips"> Tips </a>
            </li>
        </ul>
    </nav>
    <nav class="footer__nav">
        <ul>
            <li>
                <a class="footer__nav--link" href="https://adalab.es/" title="Twitter"> Twitter </a>
            </li>
            <li>
                <a class="footer__nav--link" href="https://adalab.es/" title="Instagram"> Instagram </a>
            </li>
            <li>
                <a class="footer__nav--link" href="https://adalab.es/" title="Shoes"> Youtube </a>
            </li>
        </ul>
    </nav>
    <div class="footer__copy">
        <p>&copy;2023</p>
        <p>we🧡run</p>
    </div>

</footer>