<header class="header" id="header">
	<nav class="header__menu">
		<a href="https://adalab.es/" title="Menu link">
			<img
				src="./assets/images/ico-menu.svg"
				alt="Menu icon"
				title="Menu icon"
			/>
		</a>
	</nav>
	<section class="header__container">
		<h1 class="header__title">Hasta un 50% de descuento</h1>
		<p class="header__text">Ya están aquí las ofertas de fin de temporada🛍️</p>
		<a href="#section2">
			<div class="header__button">
				<img
					class="header__img"
					src="./assets/images/chevron.svg"
					alt="Scroll down"
					title="Scroll down"
				/>
			</div>
		</a>
	</section>
</header>
