<main class="main">
    <section>
        <small>Los sentimientos nos inspiran</small>
        <h2>Contecta Contigo</h2>
        <p>Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hace sentir.</p>
        <button>Comprar</button>
    </section>
    <section>
        <h3>Año nuevo, movimientos nuevos</h3>
        <article>
            <h4>Entrenamientos</h4>
            <p>Sesiones de running y entrenamientos.</p>
        </article>
        <article>
            <h4>Cualquier nivel</h4>
            <p>Entrenamientos para cada nivel.</p>
        </article>
        <article>
            <h4>Exclusividad</h4>
            <p>Productos para miembros premium.</p>
        </article>
        <button>Empezar ahora</button>
    </section>
    <button></button>
</main>