<main class="main">
    <section class="section1">
        <small class="section1__small">Los sentimientos nos inspiran</small>
        <h2 class="section1__title">Conecta Contigo
        </h2>
        <p class="section1__text">Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hace sentir.</p>
        <button class="section1__button">
            <a class="section1__link" href="https://adalab.es/" title="Buy button">Comprar</a>
        </button>
    </section>
    <section class="section2" id="section2">
        <h3 class="section2__title">Año nuevo, movimientos nuevos</h3>
        <article class="section2__article">
            <h4 class="section2__article--title">Entrenamientos</h4>
            <p class="section2__article--text">Sesiones de running y entrenamientos.</p>
        </article>
        <article class="section2__article">
            <h4 class="section2__article--title">Cualquier nivel</h4>
            <p class="section2__article--text">Entrenamientos para cada nivel.</p>
        </article>
        <article class="section2__article">
            <h4 class="section2__article--title">Exclusividad</h4>
            <p class="section2__article--text">Productos para miembros premium.</p>
        </article>
        <button class="section2__button">
            <a class="section2__link" href="https://adalab.es/" title="Start now">Empezar ahora</a>
        </button>
    </section>
</main>