// Esta es la variable que usaremos como tamaño por defecto
$defaultFontSize: 16;

// Estos son los tamaños para las media-queries

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// fonts
$font-main: 'Roboto', sans-serif;
$font-title: 'Roboto Slab', serif;

// colors
$color-text: #000;
$color-text-main: #ffffff;
$color-details: #f26002;
$color-background: #f2f2f2;
$color-background-footer: #4a4a4a;
