.arrow__button {
    background-color: $color-text-main;
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(150px, -20px);
}


