.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &__button {
        background-color: $color-text-main;
        width: 45px;
        height: 45px;
        border-radius: 22.5px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
        animation: infinite moveArrow 2s;
        }
        }
}

