.section2 {
    background-color: $color-background;
    padding: 30px 15px 0 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 1fr 1fr 1fr;
    gap: 40px;
        @media (min-width:768px) {
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 'title article button';
            gap: 38px;
            padding: 49px 29px 0 46.7px;
        }

    &__title {
        font-size: 1.25rem;
        font-family: $font-title;
        line-height: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (min-width:768px) {
                grid-area: 'title';
                grid-column: span 3;
                font-size: 1.75rem;
            }      
    }
    &__article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        text-align: center;
        font-size: 1.125rem;
        line-height: 30px;
            @media (min-width:768px) {
                    grid-area: 'article';
            }
        
        &--title {
            font-family: $font-title;
                @media (min-width:768px) {
                    font-size: 1.5rem;
                    padding-bottom: 18px;
                }
        }
        &--text {
            font-family: $font-main;
            max-width: 180px;
                @media (min-width:768px) {
                    font-size: 1.25rem;
                    max-width: none;
                }
        }
    }
    &__button {
        background-color: $color-details;
        color: $color-text-main;
        font-family: $font-main;
        font-size: 1.25rem;
        width: 184px;
        height: 45px;
        border-radius: 22.5px;
        border: solid 2px $color-details;
        margin: 0 auto;
             @media (min-width:768px) {
                grid-area: 'button';
                grid-column: span 3;
            }
    }
    &__link {
        text-decoration: none;
        color: $color-text-main;
    }
}
