@import 'core/variables';
@import 'core/reset';
@import 'core/mixins';
@import 'core/animations';
@import 'layout/header';
@import 'layout/main-section1';
@import 'layout/footer';
@import 'pages/index';
